@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  @apply text-gray-500;
}

body {
  margin: 0px;
}
